# **Retos Matemáticos**


---

## Tablas de multiplicar
Escriba un programa que solicite al usuario ingresar un número del 1 al 12 y le imprima las tabla de multiplicar de este número.

Ejemplo:
**N**=2
```
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
11 x 2 = 22
12 x 2 = 24
```

In [ ]:
numero = int(input("Número del 1 al 12: "))

if numero < 1 or numero > 12:
    print("Número ingresado no está dentro del rango válido.")
else:
    print(f"Tabla de multiplicar del {numero}:")
    for i in range(1, 13):
        resultado = i * numero
        print(f"{i} x {numero} = {resultado}")

Número del 1 al 12: 5
Tabla de multiplicar del 5:
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
11 x 5 = 55
12 x 5 = 60

## Reto: Triángulo

Cree un programa que le pida al usuario un número **N** e imprima un triángulo de la siguiente manera, donde la altura del triangulo sea **N**:

**N**=5
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
n = int(input("Número N para la altura del triángulo: "))

for i in range(1, n + 1):
    print("* " * i)

for i in range(n - 1, 0, -1):
    print("* " * i)